fastapi
uvicorn
sqlalchemy
pydantic
openpyxl
python-jose[cryptography]
passlib[bcrypt]
bcrypt>=3.1.0,<4.0        # passlib 1.7.4 incompatible con bcrypt>=4.0
python-dotenv
pytest
httpx
 PostgreSQL (opcional, solo si no usas SQLite):
psycopg2-binary
